#connectPanel{
  width: 200px;
  height: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -100px;
}

#connectPanel button{
  float: right;
  margin-top: 3%;
}

#chatBox{
  width: 70%;
  height: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -25%;
  margin-left: -35%;
}

#chatBox p{
  margin-bottom: -5px;
}

#disconnectSection{
  text-align: right;
  padding-bottom: 5px;
}

#disconnectSection span{
  float: left;
  margin-top: 10px;
}

#chat{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 600px;
  border: black solid 1px;
}

#sendSection{
  margin-top: 5px;
}

#sendSection button{
  width: 100%;
}

#disconnectSection #name{
  margin-left: 4px;
}


