#connectPanel{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 300px;
  max-height: 400px;
  margin: auto;
}

#connectPanel button{
  float: right;
  margin-top: 3%;
}

#chatBox{
  color: white;
  width: 70%;
  height: 70%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 10px;
  padding: 20px;
  background-color: rgba(97, 0, 191, 1);
  border: black 2px solid;
}

#chatBox p{
  margin-bottom: -5px;
  overflow-wrap: break-word;
  white-space: initial;
  word-break: break-all;
}

#disconnectSection{
  text-align: right;
  padding-bottom: 5px;
}

#disconnectSection #name{
  margin-left: 5px;
}

#disconnectSection button{
  width: 17%;
}

#disconnectSection span{
  float: left;
}

#chat{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 90%;
  width: 83%;
  float: left;
  padding-right: 2px;
}

#activeUsers{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 90%;
  width: 17%;
  text-align: center;
  margin-top: 5px;
}

#sendSection {
  margin-top: 5px;
}

.row{
  margin-left: 8px;
}

#sendSection button{
  width: 17%;
}

#sendSection input{
  width: 81%;
}

*::-webkit-scrollbar {
  width: 0;
}
