
.connectPanel {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 300px;
  max-height: 400px;
  margin: auto;
}
.connectPanel button {
  float: right;
  margin-top: 3%;
}

.mainView{
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  background-image: url("https://cdn.stocksnap.io/img-thumbs/960w/birds-flying_CJCMX14Z4F.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 12px;
}

.disconnectSection{
  margin-top: 15px;
  min-height: 60px;
  text-align: center;
}

.disconnectSection button {
  width: 100%;
  min-height: inherit;
  color: white;
  background-color: #C85D5D;
  border-radius: 30px;
}


.onlineSection {
  margin-top: 15px;
  width: 100%;
  text-align: center;
}

.onlineText{
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  min-height: 30px;
  width: inherit;
  background-color: #54C02E;
  color: white;
  display: flex;
  align-items: center;
}

.onlineText span{
  width: inherit;
}

.onlineList{
  width: 100%;
  height: 125px;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: -1;
}

.userNickname{
  width: 100%;
  min-height: 30px;
  text-align: center;
  font-size: 16px;
  background-color: #54C02E;
  display: flex;
  align-items: center;
  border-radius: 20px 20px 0 0;
}

.userNickname span{
  width: inherit;
}

.chatBox{
  background-color: rgba(0,0,0,0.75);
  border-radius: 20px 20px 0 0;
}

.messagesBox{
  width: 100%;
  height: 245px;
  color: #ECECEC;
  overflow-y: scroll;
  overflow-x: hidden;
  overflow-wrap: break-word;
  white-space: initial;
  word-break: break-all;
}

.messageInput{
  display: flex;
  margin: auto;
  width: 100%;
  padding: 1%;
}

.messageInput input{
  border: 1px solid #CCC;
  border-radius: 5px;
}

.sendButton{
  min-height: 22px;
  text-align: center;
  width: 10%;
}

.send{
  color: white;
  border-radius: 15px;
  background-color: #2E2E2E;
  width: 100%;
}

ul{
  list-style-type: none;
  padding: 0;
}

::-webkit-scrollbar {
  width: 0;
}
